
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #14532d; 
}

html.dark body {
  background-color: #0b1120;
  color: white;
}
input {
  @apply text-black dark:text-white bg-white dark:bg-[#1a1a2e];
}